@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000909;
}

.inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.inter-semibold {
  font-family: 'Inter', sans-seif;
  font-weight: 600;
}

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-semibold {
  font-weight: 'Poppins', sans-serif;
  font-weight: 500;
}

.poppins-regualr {
  font-weight: 'Poppins', sans-serif;
  font-weight: 400;
}

body {
  font-family: 'Poppins', sans-serif;
  background: white;
  color: #000909;
}

.scroll-lottie {
  display: block;
  margin: 3em auto 0em;
  width: 140px;
  height: 140px;
}

header {
  padding: 20px;
}

header .brand-logo img {
  height: 40px;
}

header .nav-btn {
  position: fixed;
  z-index: 10;
  right: 20px;
  top: 20px;
}

.hero-section .container {
  padding: 2em 1em;
}

.hero-section .container h1 {
  font-size: 65px;
  text-align: left;
  text-transform: uppercase;
}

.hero-section .container p {
  padding-top: 1em;
  color: #71787D;
}

.clients .desc {
  padding: 2em 1em 3em;
  font-size: 14px;
  color: #71787D;
  text-align: center;
}

.clients .desc span {
  color: #000909;
  font-weight: 600;
}

.wrapper {
  width: 320px;
  height: 120px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.box {
  width: 60px;
  height: 60px;
  position: absolute;
  background: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.boxes {
  position: relative;
  left: -100px;
}

.nav {
  position: relative;
  text-align: center;
  font-size: 20px;
  margin: 40px 0;
}

.menu-toggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger path {
  fill: none;
  stroke: #000909;
  stroke-linecap: round;
  height: 40px;
  width: 40px;
}

.fullpage-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 8;
}

.fullpage-menu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 100px 30px;
}

.menu-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-bg span {
  height: 100vh;
  width: 100%;
  background: #FFC641;
  display: block;
}

nav {
  position: relative;
  z-index: 10;
}

nav ul {
  list-style-type: none;
}

nav li {
  overflow: hidden;
  -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
  transition: -webkit-transform 300ms ease-in-out 0s;
  transition: transform 300ms ease-in-out 0s;
  transition: transform 300ms ease-in-out 0s, -webkit-transform 300ms ease-in-out 0s;
}

nav li + li {
  margin-top: 20px;
}

nav li a {
  font-size: 54px;
  color: #000909;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  line-height: 1;
}

nav li:hover {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.header-nav-footer {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.social-links {
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.social-links span {
  font-weight: 600;
}

.social-links li {
  font-size: 18px;
  font-weight: 500;
}

.social-links li + li {
  margin-left: 16px;
}

.social-links li:last-child {
  margin-left: auto;
}

.social-links a {
  color: #000909;
  text-decoration: none;
}

.coppy a {
  font-size: 12px;
}

.coppy a p {
  color: #464646;
}

.coppy a span {
  color: #000909;
}

.services .title {
  margin: 1em .5em -1em;
  font-size: 30px;
}

.services .container {
  padding: 2em 1em;
}

.services .container .card-desc {
  color: #606060;
  font-size: 15px;
  margin: 1em 0;
}

.services .container .learn-btn {
  margin: 2em 0 -1.5em;
  font-size: 13px;
}

.services .container .Outline {
  fill: white;
}

.services .container .Outline:hover {
  fill: black;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
}

.services .container .icon {
  background-color: #000909;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0em 1.5em;
}

.services .container .icon:hover {
  background-color: white;
  -webkit-transition: ease-in-out 0.2s all;
  transition: ease-in-out 0.2s all;
}

.services .container .configuration, .services .container .bug, .services .container .setup {
  border: 1px solid #D0D9DF;
  border-radius: 10px;
  padding: 3em 2em;
  margin-top: 2em;
}

.services .container .configuration:hover, .services .container .setup:hover, .services .container .bug:hover {
  border: none;
  background-color: #FFC641;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.image {
  margin: 3em 0 1em;
  padding: 0 1em;
}

.image img {
  width: 100%;
}

.projects .title {
  margin: 1em .5em 2em;
  font-size: 30px;
}

.projects .container {
  margin: 2em 1em;
}

.projects .container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.projects .container .card {
  -webkit-box-shadow: 0px 0px 10px 0px #0000001c;
          box-shadow: 0px 0px 10px 0px #0000001c;
  padding: 2em;
  border-radius: 10px;
  margin-top: 2em;
}

.projects .container .minerival-card, .projects .container .minealive-card {
  height: 300px;
}

.projects .container .mineheart-card {
  height: 305px;
}

.projects .container .cowsmp-card {
  height: 325px;
  margin-top: 5em;
}

.projects .container .cartcraft-card {
  height: 365px;
  margin-top: 5em;
}

.projects .container .zedarsmp-card {
  height: 365px;
  margin-top: 4em;
}

.projects .container .hotdogcraft-card {
  height: 375px;
  margin-top: 5em;
}

.projects .container .simplepixel-img {
  margin-top: -100px;
}

.projects .container .cowsmp-img {
  margin-top: -100px;
  width: 200px;
}

.projects .container .cartcraft-img {
  margin-top: -80px;
  width: 180px;
  border-radius: 10px;
}

.projects .container .zedarsmp-img {
  margin-top: -100px;
}

.projects .container .hotdogcraft-img {
  margin-top: -80px;
  width: 180px;
  border-radius: 10px;
}

.projects .container .semi-title {
  color: #9FA3A6;
  font-size: 12px;
}

.projects .container .semi-title-short {
  margin-top: 2em;
}

.projects .container .configuration-btn {
  background-color: #FFCF5E;
  padding: 10px;
  width: 140px;
  text-align: center;
  border-radius: 20em;
  font-size: 12px;
  margin-right: .5em;
}

.projects .container .setup-btn {
  background-color: #FF985E;
  padding: 10px;
  width: 90px;
  text-align: center;
  border-radius: 20em;
  font-size: 12px;
}

.projects .container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: .5em;
}

.projects .container .links {
  color: #9FA3A6;
  font-size: 12px;
  margin-top: 4em;
}

.projects .container .links span {
  color: #000909;
}

.let-us-know {
  padding: 1em;
  font-size: 12px;
  display: block;
  text-align: center;
  margin-top: 4em;
}

.let-us-know div {
  background-color: #000909;
  border-radius: 5px;
  color: white;
  padding: 15px;
  width: 140px;
  text-align: center;
  font-size: 12px;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

.footer {
  background-color: #000909;
}

.footer .container {
  color: white;
  padding: 3em 2em;
  height: 600px;
  margin-top: 6em;
}

.footer .top .logo img {
  width: 100px;
}

.footer .top .logo h1 {
  margin-top: .8em;
}

.footer .top .logo p {
  margin-top: .6em;
  font-size: 14px;
  color: #A5A5A5;
}

.footer .top .navigation {
  margin-top: 3em;
}

.footer .top .navigation ul {
  line-height: 2em;
  font-size: 20px;
  list-style-type: none;
}

.footer .top .navigation ul a {
  color: white;
}

.footer .bottom {
  margin-top: 7em;
  font-size: 12px;
}

.footer .bottom p {
  color: #A5A5A5;
}

.footer .bottom span {
  color: white;
}

@media only screen and (min-width: 375px) {
  .wrapper {
    width: 375px;
  }
}

@media only screen and (min-width: 425px) {
  .hero-section .container, .services .container {
    padding: 2em 2em;
  }
  .projects .container {
    padding: 2em 1em;
  }
  nav li a {
    font-size: 70px;
  }
  .services .title {
    margin: 3em 1em -1em;
  }
  .footer .container {
    padding: 3em 2em;
  }
  .wrapper {
    width: 425px;
  }
  .brand-logo, .nav-btn {
    padding: 0 .5em;
  }
  .image {
    padding: 0;
  }
  .projects .title {
    margin: 3em 1em 1em;
  }
  .projects .container .title-card {
    font-size: 30px;
  }
  .projects .container .simplepixel-card {
    height: 330px;
  }
  .projects .container .minerival-card, .projects .container .minealive-card {
    height: 310px;
  }
  .projects .container .mineheart-card {
    height: 320px;
  }
  .projects .container .cowsmp-card {
    height: 340px;
  }
  .projects .container .cartcraft-card, .projects .container .zedarsmp-card {
    height: 380px;
  }
  .projects .container .hotdogcraft-card {
    height: 390px;
  }
}

@media only screen and (min-width: 500px) {
  nav li a {
    font-size: 80px;
  }
  .brand-logo, .nav-btn {
    padding: 0 .5em;
  }
  .services .container .configuration, .services .container .bug, .services .container .setup {
    margin: 2em 0em;
  }
  .hero-section .container h1 {
    font-size: 100px;
    line-height: 100px;
  }
  .hero-section .container p {
    font-size: 20px;
  }
  .hero-section .container .scroll-lottie {
    width: 120px;
    height: 120px;
  }
  .wrapper {
    width: 500px;
  }
  .projects .container {
    margin: 2em 1em;
  }
  .footer .container {
    padding: 4em 2em;
    height: 620px;
  }
  .footer .logo p {
    width: 230px;
  }
  .footer .bottom {
    margin-top: 8em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  nav li a {
    font-size: 120px;
  }
  .brand-logo a img {
    width: 60px;
    height: 60px;
  }
  .fullpage-menu-inner {
    padding: 100px 4em;
  }
  .header-nav-footer {
    padding: 30px 4.2em;
  }
  .coppy p {
    font-size: 14px;
  }
  .navigation svg {
    height: auto;
    width: 70px;
  }
  .coppy a {
    font-size: 18px;
  }
  .hero-section .container {
    padding: 4em 5em 10em;
  }
  .hero-section .container h1 {
    text-align: left;
    line-height: 120px;
    font-size: 120px;
  }
  .hero-section .container .scroll-lottie {
    margin-top: -1em;
  }
  .clients .desc {
    font-size: 18px;
  }
  .wrapper {
    width: 768px;
  }
  .box {
    width: 100px;
    height: 120px;
  }
  .services .title {
    margin: 4em .5em .5em;
    font-size: 50px;
  }
  .services .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .services .container .configuration, .services .container .bug, .services .container .setup {
    margin: 0;
  }
  .projects .title {
    margin: 4em .5em .5em;
    font-size: 50px;
  }
  .projects .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 2em 1em;
  }
  .projects .container .title-card {
    font-size: 25px;
  }
  .projects .container .card {
    height: 330px;
  }
  .projects .container .simplepixel-card .links {
    margin-top: 5em;
  }
  .projects .container .hotdogcraft-card {
    margin-top: 4em;
  }
  .projects .container .hotdogcraft-card .links {
    margin-top: 3em;
  }
  .projects .container .minerival-card img, .projects .container .mineheart-card img, .projects .container .minealive-card img {
    margin-top: 1em;
  }
  .projects .container .minerival-card .semi-title, .projects .container .mineheart-card .semi-title, .projects .container .minealive-card .semi-title {
    margin-top: 2.5em;
  }
  .projects .container .minerival-card .links, .projects .container .mineheart-card .links, .projects .container .minealive-card .links {
    margin-top: 5em;
  }
  .projects .container .mineheart-card .links {
    margin-top: 4.5em;
  }
  .projects .container .cartcraft-img {
    width: 140px;
  }
  .projects .container .zedarsmp-card img {
    width: 160px;
  }
  .projects .container .hotdogcraft-img {
    width: 135px;
    margin-top: -70px;
  }
  .let-us-know {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 4em;
    font-size: 16px;
  }
  .let-us-know div {
    margin: 0;
    font-size: 16px;
    width: 200px;
    padding: 20px;
  }
  .footer .container {
    height: 250px;
  }
  .footer .container .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer .container .top .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .container .top .logo img {
    width: 60px;
    height: 60px;
    margin-right: 1em;
  }
  .footer .container .top .logo h1 {
    margin: 0;
    font-size: 16px;
  }
  .footer .container .top .logo p {
    margin-top: 0;
  }
  .footer .container .top .navigation {
    margin-top: 0;
  }
  .footer .container .top .navigation ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    gap: 1em;
  }
  .footer .container .bottom {
    margin-top: 5em;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-section .container {
    padding: 4em 12em 10em;
  }
}

@media only screen and (min-width: 1440px) {
  .brand-logo, .nav-btn {
    margin: 1em 3.5em;
  }
  .hero-section .container {
    padding: 5em 14em 10em;
  }
  .services .title {
    margin: 4em 1.5em .5em;
  }
  .services .container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 3em;
  }
  .services .container .configuration, .services .container .bug, .services .container .setup {
    height: 400px;
    padding: 3em 2.5em;
  }
  .services .container .outline {
    width: 22px;
    height: 22px;
  }
  .services .container .icon {
    width: 60px;
    height: 60px;
  }
  .services .container .card-title {
    margin-top: 1.5em;
  }
  .services .container .card-desc {
    margin-top: .5em;
    margin-right: 2em;
  }
  .services .container .learn-btn {
    margin-top: 6em;
  }
  .image .container {
    margin-top: 10em;
  }
  .projects .title {
    margin: 4em 1.5em 1em;
  }
  .projects .container {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    margin: 0 4em;
  }
  .projects .container .card {
    height: 450px;
  }
  .projects .container .card img {
    width: 300px;
  }
  .projects .container .semi-title {
    font-size: 15px;
  }
  .projects .container .title-card {
    font-size: 32px;
  }
  .projects .container .simplepixel-card img {
    margin-top: -6.5em;
  }
  .projects .container .simplepixel-card .links {
    margin-top: 6em;
  }
  .projects .container .minerival-card img, .projects .container .mineheart-card img, .projects .container .minealive-card img {
    margin-top: 3em;
  }
  .projects .container .minerival-card .semi-title, .projects .container .mineheart-card .semi-title, .projects .container .minealive-card .semi-title {
    margin-top: 4.5em;
  }
  .projects .container .minerival-card .links, .projects .container .mineheart-card .links, .projects .container .minealive-card .links {
    margin-top: 6em;
  }
  .projects .container .mineheart-card img {
    margin-top: 2.5em;
  }
  .projects .container .minealive-card {
    margin-top: 5em;
  }
  .projects .container .cowsmp-card img {
    width: 280px;
  }
  .projects .container .cowsmp-card .links {
    margin-top: 6em;
  }
  .projects .container .cartcraft-card img {
    width: 200px;
    margin-top: -75px;
  }
  .projects .container .cartcraft-card .links {
    margin-top: 6em;
  }
  .projects .container .zedarsmp-card img {
    width: 230px;
  }
  .projects .container .zedarsmp-card .links {
    margin-top: 6em;
  }
  .projects .container .hotdogcraft-card img {
    width: 195px;
  }
  .projects .container .hotdogcraft-card .links {
    margin-top: 6em;
  }
  .let-us-know {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }
  .footer .container {
    padding: 4em 6em;
  }
  .footer .container .top .logo img {
    width: 100px;
    height: 100px;
  }
  .footer .container .top .navigation ul {
    gap: 2em;
    font-size: 20px;
  }
  .footer .container .bottom {
    margin-top: 4em;
  }
}

@media only screen and (min-width: 1920px) {
  .navigation .header-row {
    width: 1440px;
    margin: 0 auto;
  }
  .nav-btn {
    width: 540px;
    margin: 1em auto;
  }
  .container, .services .container {
    width: 1440px;
    margin: 0 auto;
  }
  .services .title, .projects .title, .projects .container {
    width: 1400px;
    margin: 4em auto 1em;
  }
  .image .container {
    width: 100%;
    margin-top: 10em;
  }
}

@media only screen and (min-width: 2560px) {
  .nav-btn {
    width: 1200px;
    margin: 1em auto;
  }
}
/*# sourceMappingURL=main.css.map */